@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom, #ffffff, #a946f8);
    --background2: linear-gradient(to top, #de9bf3, #a946f8);
    --foreground: #ffffff;
  }
}
.pink-icon {
  filter: brightness(0) saturate(100%) invert(27%) sepia(89%) saturate(2000%) hue-rotate(310deg) brightness(90%) contrast(90%);
}
.Hero {
  color: var(--foreground);
  background: var(--background);
  background-size: 100%;
  background-position: center;
}
.Test {
  color: var(--foreground);
  background: var(--background2);
  background-size: 100%;
  background-position: center;
  animation: scrollGradient 1s linear infinite;
}
html {
  scroll-behavior: smooth;
}


.moving-image {
  animation: moveUpDown 5s ease-in-out infinite; /* Infinite up and down movement */
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px); /* Adjust the amount to control the distance moved */
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes scrollGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
